<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eklanku.otuChat"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- rina -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- rina -->
    <!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/> -->

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true" />

    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="false" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera.autofocus" -->
    <!-- android:required="false" /> -->
    <!--
 <supports-screens
         android:largeScreens="true"
         android:xlargeScreens="true" />
    -->
    <!--
 <supports-screens
         android:anyDensity="true"
         android:largeScreens="true"
         android:normalScreens="true"
         android:resizeable="false"
         android:smallScreens="true"
         android:xlargeScreens="true" />
    -->
    <application
        android:name=".ui.activities.VolleyController"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- Workaround for OS 9 (sdk = 28) -->
        <!-- from: https://issuetracker.google.com/issues/79478779 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- <activity -->
        <!-- android:name=".ui.activities.authorization.SplashActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:launchMode="singleInstance" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.authorization.LandingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.authorization.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.authorization.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activities.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <!-- rina -->
        <activity
            android:name=".ui.activities.settings.SettingsActivityOtu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.invitefriends.InviteFriendsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.feedback.FeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.profile.UserProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.call.CallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.chats.NewMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.chats.NewGroupDialogActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.chats.CreateGroupDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.chats.PrivateDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.chats.GroupDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.chats.BroadcastDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.chats.GroupDialogDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.chats.BroadcastDialogDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.profile.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.chats.AddFriendsToGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.changepassword.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.forgotpassword.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.agreements.UserAgreementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ui.activities.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.barcode.UserSessionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.barcode.WebQRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.others.PreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.location.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.call.ContactListCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.connectycube.ui.chatmessage.adapter.media.video.ui.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:theme="@style/VideoPlayerTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.others.ExitActivity"
            android:autoRemoveFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}"
            tools:replace="android:value" />
        <meta-data
            android:name="com.connectycube.pushnotifications.TYPE"
            android:value="FCM" />
        <meta-data
            android:name="com.connectycube.pushnotifications.SENDER_ID"
            android:value="@string/sender_id" />
        <meta-data
            android:name="com.connectycube.pushnotifications.ENVIRONMENT"
            android:value="PRODUCTION" />

        <service
            android:name="com.quickblox.q_municate_core.service.QBService"
            android:icon="@mipmap/ic_launcher" />
        <service android:name=".fcm.FirebasePushListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.connectycube.pushnotifications.services.fcm.FcmPushInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".utils.broadcasts.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.broadcasts.ChatMessageReceiver"
            android:label="ChatMessageReceiver">
            <intent-filter>
                <action android:name="q_municate.got_chat_message" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.quickblox.q_municate_core.network.NetworkGCMTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name=".service.SessionJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service android:name=".service.CallService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- setting profile -->
        <activity
            android:name=".ui.activities.profile.EditProfilActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activities.contacts.ContactsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.contacts.ContactsShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.contacts.ContactDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <!-- payment -->
        <activity android:name=".ui.activities.payment.transaksi.PaymentLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.settingpayment.ResetPassword"
            android:label="Ganti Password"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.settingpayment.Profile"
            android:label="Profil"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.settingpayment.ResetPIN"
            android:label="Ganti PIN"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.payment.settingpayment.Register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.settingpayment.DeleteAccount"
            android:label="Non Aktif Akun"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.payment.settingpayment.updateProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.payment.transaksi.TransKonfirmasi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransPulsa"
            android:label="Pulsa"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransPaketData"
            android:label="Paket Data"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransPln"
            android:label="Listrik PLN"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransEtool"
            android:label="E-TOOL"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransWi"
            android:label="Wifi ID"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransSMS"
            android:label="SMS"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransPajak"
            android:label="Pajak Daerah"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransBpjs"
            android:label="BPJS Kesehatan"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransTv"
            android:label="TV Kabel"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransPdam"
            android:label="PDAM"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransTagihan"
            android:label="Pascabayar"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransTelkom"
            android:label="Telkom"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransMultiFinance"
            android:label="Finance"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransKartuKredit"
            android:label="Kartu Kredit"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransAsuransi"
            android:label="ASURANSI"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransPGN"
            android:label="PGN"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransVouchergame_opsi"
            android:label="Voucher Game"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransVouchergame_product"
            android:label="Voucher Game"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransESaldo_opsi"
            android:label="E-Saldo"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transaksi.TransESaldo_product"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.laporan.HistoryBalanceActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.laporan.HistoryTrxActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.laporan.HistoryDespositActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.laporan.HistoryPenarikanActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.laporan.HistoryBonusActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.transfer.TransDeposit"
            android:label="Transfer Saldo"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.payment.transfer.TransResponse">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.payment.transfer.TransConfirm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.payment.topup.TopupOrder"
            android:label="Topup"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.payment.topup.TopupBilling" />
        <!-- <activity android:name=".ui.activities.payment.settingpayment.Register" /> -->
        <activity
            android:name=".ui.activities.settings.SettingTabPaymentActivity"
            android:label="Pengaturan"
            android:theme="@style/AppThemePaymentItems" />
        <activity
            android:name=".ui.activities.about.ContactUsActivity"
            android:label="Kontak Kami"
            android:theme="@style/AppThemePaymentItems" />
        <activity android:name=".ui.activities.payment.transaksi.TransThankyou" />
        <activity android:name=".ui.activities.payment.topup.AlertSyarat" />

        <!-- DOKU -->
        <activity android:name=".ui.activities.payment.doku.CCPaymentActivity" />
        <activity android:name=".ui.activities.payment.doku.DokuWalletPaymentActivity" />
        <activity
            android:name=".ui.activities.payment.doku.HomeGatewayDoku"
            android:theme="@style/activityDialog" />

        <!--Donasi-->
        <activity
            android:name=".ui.activities.payment.donasi.DonasiOpsi"
            android:label="Donasi Yayasan Cinta Anak"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activities.payment.donasi.DonasiManualTransfer"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>

        <!-- new config -->
        <!--
         <meta-data android:name=".com.connectycube.pushnotifications.TYPE" android:value="FCM" />
         <meta-data android:name="com.connectycube.pushnotifications.SENDER_ID" android:value="@string/sender_id" />
         <meta-data android:name="com.connectycube.pushnotifications.ENVIRONMENT" android:value="PRODUCTION" />
        -->

        <receiver
            android:name=".ReferrerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- facebook account kit -->
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme" />
        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="Otu Chat Indonesia" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID"
            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name=".ui.activities.payment.TestActivity" />
        <activity
            android:name=".ui.activities.payment.RiwayatActivity"
            android:label="Riwayat"
            android:theme="@style/AppThemePaymentItems" />
        <activity android:name=".ui.activities.TesActivity" />
        <activity
            android:name=".ui.activities.payment.transaksi.TransPaketTelp"
            android:label="Paket Telp"
            android:theme="@style/AppThemePaymentItems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eklanku.otuChat.ui.activities.main.MainActivity" />
        </activity>
    </application>

</manifest>